<template>
  <div class="main-container">
    <header class="hero-container">
      <div class="hero-container__title">
        <h1>Ne garder</h1>
        <h1>que l'essentiel</h1>
      </div>
      <!-- <div class="hero-container__text">
        <span> ❤️‍🔥Studio indépendant de création d'aventures digitales. ❤️‍🔥 </span>
      </div> -->
      <div class="hero-container__gif">
        <img
          src="../assets/herogif.gif"
          alt="Mockups des différents projets du studio, sous forme de GIF"
        />
      </div>
    </header>
    <section class="metodo-section">
      <div class="metodo-section__container">
        <p class="metodo-section__text">
          418.Studio est un studio de développement web indépendant situé à Reims. L'aventure a
          commencé en 2023 lorsque j'ai déménagé à Reims après avoir passé plusieurs années dans
          divers studios et agences digitales lyonnaises. En arrivant à Reims, j'ai eu l'envie de
          créer un studio qui me ressemble et qui soit aligné avec mes valeurs. C'est ainsi que
          418.Studio a vu le jour. L'objectif est de proposer à mes clients une expérience digitale
          sur mesure, en assurant le développement web et l'accompagnement digitale.
        </p>
      </div>
    </section>

    <section class="project-section">
      <h2 class="project-section__title">Une approche minimaliste</h2>
      <div class="project-section__container">
        <!-- <p class="project-section__text">
          J'adore Internet, j'y passe des heures chaque jour. Mais au fil des années, le poids des
          sites internet a quadruplé selon GreenIT. En 2020, une page web pesait en moyenne 2000 Ko,
          et aujourd'hui, c'est encore plus. Certes, avec la fibre et la 5G, les sites se chargent
          de plus en plus vite. C'est pourquoi, avec 418.Studio, je prône une approche minimaliste.
          Je pèse le pour et le contre de chaque image. Par exemple, il n'y en a pas sur ce site. Il
          n'y a pas non plus de polices d'écriture personnalisées super cool. J'ai fait des choix.
          Je préfère un site simple avec de petites animations sympas plutôt que plein d'images. Et
          je veux partager cette philosophie avec mes clients. Adopter une approche minimaliste ne
          signifie pas avoir un site vide, mais plutôt choisir ce dont nous avons vraiment besoin.
          Il s'agit de trouver le juste équilibre entre "j'ai envie", "j'ai besoin" et "c'est
          vraiment utile". C'est pourquoi, avant chaque projet, nous prendrons le temps de choisir
          la meilleure direction et la solution optimale pour répondre à vos besoins.
        </p> -->

        <p class="project-section__text">
          J'apprécie énormément Internet, mais je constate que la taille des sites web a
          considérablement augmenté ces dernières années. Avec 418.Studio, je veux avoir une
          approche minimaliste, en évaluant soigneusement chaque élément pour ne garder que
          l'essentiel. Un design épuré, sans superflux, offre une meilleure expérience utilisateur.
          Avant chaque projet, je prends le temps de définir la meilleure direction à suivre, en
          choisissant les solutions optimales pour répondre à vos besoins spécifiques.
        </p>
      </div>
    </section>

    <section class="project-section">
      <h2 class="project-section__title">Pourquoi l'eco-conception ?</h2>
      <div class="project-section__container">
        <p class="project-section__text">
          Après près de 8 ans dans le domaine du web, j'ai été témoin de sites internet lourds qui
          peinent à charger. Des images volumineuses et des fonctionnalités superflues... Mais
          est-ce vraiment nécessaire ? N'y a-t-il pas des solutions à cela ? Que peut-on faire ?
          L'éco-conception, c'est surtout beaucoup de bon sens. Rendre un site plus performant,
          c'est gagner quelques places dans les recherches Google. Ne pas perdre de temps sur des
          fonctionnalités inutiles, c'est économiser de l'argent. Avoir un site plus rapide, c'est
          offrir une expérience fluide à vos clients. Quelle que soit la raison pour laquelle vous
          souhaitez vous engager dans l'éco-conception, les résultats seront bénéfiques. Pour vous,
          pour vos clients et pour la planète. Alors, qu'attendez-vous pour passer à l'action ?
        </p>
      </div>
    </section>

    <section class="services-section">
      <h2 class="services-section__title">Les services</h2>
      <div class="services-section__bloc">
        <div class="services-section__container">
          <h2 class="services-section__title">Web design</h2>
          <div class="services-section__text">
            <p>
              Creation des maquettes du site internet sur Figma. En partant de votre charte
              graphiques - identiter de marque. WireFrame + maquette.
            </p>
            <span>💳 A partir de 1000E 💳 </span>
          </div>
        </div>
        <div class="services-section__container">
          <h2 class="services-section__title">Web develloppement</h2>
          <div class="services-section__text">
            <p>Creation et develloppement du site internet.</p>
            <span>💳 A partir de 2500E 💳 </span>
          </div>
        </div>
        <div class="services-section__container">
          <h2 class="services-section__title">Full package</h2>
          <div class="services-section__text">
            <p>je m'occupe de la creation et du develloppement de votre site.</p>
            <span>💳 A partir de 3500E 💳 </span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style scoped>
.main-container {
  padding: 8vh var(--padding);
}

header {
  position: relative;
  padding: 10vh 0 0 0;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

section {
  padding-top: 2vh;
  padding-bottom: var(--padding);
  margin: 5vh 0;
}
section:not(:last-child) {
  border-bottom: solid 1px var(--color-softgray);
}

.hero-container__title {
  justify-self: flex-start;
  align-self: flex-start;
  z-index: 4;
  mix-blend-mode: difference;
}
.hero-container__title h1 {
  font-size: clamp(42px, 4.38em, 256px);
  line-height: 100%;
  font-family: var(--font-medium);
  color: var(--color-background);
  letter-spacing: -5px;
}

.hero-container__text {
  max-width: 35%;
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 4;
  mix-blend-mode: difference;
  color: var(--color-background);
}

.hero-container__gif {
  position: absolute;
  align-self: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container__gif img {
  max-width: 50%;
  align-self: center;
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about-section__container {
  width: 455px;
}

.project-section,
.services-section,
.about-section,
.metodo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services-section {
  flex-direction: column;
}

.metodo-section__container {
  margin: 25vh 0;
  text-indent: 0px;
  text-size-adjust: 100%;
}

.header-section__text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 220%;
}
.about-section {
  justify-content: start;
}

.about-section__container {
  width: 35%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
}
.about-section__container:first-child {
  margin-right: 1vh;
}

.project-section__container {
  width: 50vw;
}
.project-section__list,
.project-section__text {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.services-section__bloc {
  padding-top: 5vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1000px;
  margin: auto;
}

.services-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  min-width: 300px;
  max-width: 450px;
  background: var(--color-white);
  background: linear-gradient(170deg, #0062da, #bad4d4);
  padding: 25px;
  border-radius: 48px;
  margin-bottom: 3rem;
}
.services-section__container h2 {
  display: inline-block;
  font-size: 1.6rem;
  background: var(--color-background);
  border-radius: 33px;
  padding: 5px 30px;
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: auto;
}
.services-section__text {
  font-size: 1.2rem;
  line-height: 167%;
}

.services-section__list {
  width: 50vw;
  font-size: 19px;
  display: flex;
  flex-direction: column;
}

.services-section__list-title {
  margin-top: 0;
}

.services-section__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-section__list li {
  display: inline-block;
  padding: 5px;
  font-size: 17px;
}

.services-section__li li:not(:last-child)::after {
  content: ' ./';
}

@media (max-width: 768px) {
  h2 {
    margin-bottom: 3vh;
  }
  header {
    min-height: auto;
  }
  .hero-container__title h1 {
    font-size: clamp(34px, 2.38em, 256px);
  }
  .metodo-section__container {
    margin: 0 0;
  }
  .project-section__container {
    width: 100%;
  }

  .services-section__container h2 {
    font-size: 1.2rem;
  }
  .services-section__text {
    font-size: 0.9rem;
  }
}
</style>
