<script setup></script>

<template>
  <div class="main-container">
    <header>
      <span class="header-section__text">
        La nécessité de rétablir un sens et une éthique sur les sites internet est indéniable.
        418Studio est un studio de développement web qui adopte une approche éthique, inclusive et
        éco-responsable. Je suis développeur depuis près de 7 ans maintenant et je m'engage à offrir
        une expérience qualitative, tant par l'accompagnement que par la qualité du service rendu.
        Passionné par le web depuis mes plus jeunes années...
      </span>
    </header>
    <section class="about-section">
      <div class="about-section__container">
        <div class="hover-image">
          <img
            class="hover-image"
            src="../assets/adrien.webp"
            alt="La photo d'adrien le developpeur du studio"
            width="455"
            height="600"
          />
        </div>
        <span> Adrien Developpeur </span>
      </div>
    </section>

    <section class="project-section">
      <h2 class="project-section__title">Les experiences</h2>
      <div class="project-section__container">
        <p class="project-section__text">
          Sur internet depuis mes 10 ans, et après plusieurs années d'études en informatique, je me
          suis rapidement concentré sur le web. Le côté graphique et artistique du code et du web
          m'attire énormément. Après avoir travaillé pour l'équipe Web d'un éditeur d'ERP, j'ai
          rejoint une agence web créative à Lyon où j'ai beaucoup appris. Suite à un déménagement à
          travers la France, j'ai quitté Lyon pour me retrouver à Reims, où j'ai décidé de me lancer
          en freelance dans le développement web.
        </p>
      </div>
    </section>
  </div>
</template>

<style scoped>
header {
  position: relative;
  padding: 15vh 0;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}
section {
  border-bottom: solid 1px var(--color-softgray);
  padding-top: 2vh;
  padding-bottom: var(--padding);
}

.main-container {
  padding: 0 var(--padding);
}

.project-section,
.services-section,
.about-section,
.metodo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-section__text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  line-height: 220%;
}
.about-section {
  justify-content: start;
}

.about-section__container {
  width: 35%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
}
.about-section__container:first-child {
  margin-right: 1vh;
}

.project-section__container {
  width: 50vw;
}
.project-section__list,
.project-section__text {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .project-section__container {
    width: 100%;
  }
}

.services-section__list {
  width: 50vw;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.services-section__list-title {
  margin-top: 0;
}

.services-section__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-section__list li {
  display: inline-block;
  padding: 5px;
  font-size: 17px;
}

.services-section__li li:not(:last-child)::after {
  content: ' ./';
}
</style>
