<script setup>
import { RouterLink } from 'vue-router'
</script>

<template>
  <footer>
    <div class="footer-main">
      <div class="footer-link__container">
        <div>
          <RouterLink to="/" class="footer-link">
            <span class="text-gradiant">418<br />Studio</span>
          </RouterLink>
        </div>
      </div>
      <div class="footer-link__container">
        <div>
          <RouterLink to="/studio" class="footer-link">
            <span>Studio</span>
          </RouterLink>
        </div>
        <div>
          <a href="mailto:info@418.studio" class="footer-link">Contact</a>
        </div>
      </div>
    </div>
    <div class="footer-utils">
      <div class="footer-utils__col">
        <RouterLink to="/legal" class="footer-link">
          <span>mentions légales</span>
        </RouterLink>
      </div>
    </div>
  </footer>
</template>

<style scoped>
footer {
  color: var(--color-background);
  background-color: var(--color-black);
  padding: 4vh 5vw;
}
.footer-main {
  padding-bottom: 6vh;
  display: flex;
  justify-content: space-between;
  border-bottom: solid var(--color-softgray) 1px;
}
.footer-link__container {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}
.footer-link__container > div {
  line-height: 92%;
}
.footer-link__container > div:not(:last-child) {
  padding-bottom: 0.7rem;
}
.text-gradiant {
  background: linear-gradient(170deg, #0062da, #bad4d4);
  /* -webkit-linear-gradient(-45deg, var(--color-orange), var(--color-orange__blend)); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-utils {
  display: flex;
  justify-content: space-between;
}
.footer-utils__col {
  padding: 1vh 0;
  color: var(--color-darkgray);
  font-size: 16px;
}
</style>
