<script setup></script>

<template>
  <div class="_container">
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
    <div class="collum"></div>
  </div>
</template>

<style scoped>
._container {
  display: flex;
  width: 100vw;
  height: 100%;
  z-index: 10;
  position: fixed;
  pointer-events: none;
  justify-content: space-around;
  padding: 0 5vw;
}
.collum {
  height: 100%;
  margin-right: 1vw;
  background-color: rgba(255, 0, 0, 0.1);
  width: calc((90vw - (1vw * 11)) / 12);
}
.collum:last-child {
  margin-right: 0;
}
</style>
