<script setup></script>

<template>
  <div>
    <h1>Be good,<br />by design.</h1>
  </div>
  <TheHeader />
</template>

<style scoped>
@media (min-width: 1024px) {
  div {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
