<script setup>
import { RouterLink } from 'vue-router'
</script>

<template>
  <nav class="nav">
    <div>
      <RouterLink to="/" class="hover-fadein header-logo"> 418™ </RouterLink>
    </div>
    <div class="header-link__container">
      <RouterLink to="/studio" class="header-link hover-fadein">
        <span>Studio</span>
      </RouterLink>
      <a href="mailto:info@418.studio" class="header-link hover-fadein header-link__contact">
        <span>Contact</span></a
      >
    </div>
  </nav>
</template>

<style scoped>
.nav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4vh;
  padding-left: var(--padding);
  padding-right: var(--padding);
  line-height: clamp(24px, 2vh, 36px);
  mix-blend-mode: difference;
  z-index: 3;
}

.header-link__container {
  position: relative;
  width: calc((90vw - (1vw * 3)) / 4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-logo {
  text-transform: uppercase;
}
.header-link {
  margin-left: 2vw;
  /* border: solid white 2px;
  border-radius: 50%;
  padding: 17px 54px; */
}

.header-link span,
.header-logo a {
  position: relative;
}
</style>
