<script setup>
import { ref, onMounted } from 'vue'
import gsap from 'gsap'

const percentage = ref(0)
onMounted(() => {
  // Create a plain object for GSAP to animate
  let progress = { value: 0 }

  const tl = gsap.timeline()

  tl.to(progress, {
    value: 100,
    duration: 1,
    onUpdate() {
      // Update the Vue ref with the animated value
      percentage.value = Math.floor(progress.value)
    }
  })

  tl.fromTo(
    '.preloader-percent__text',
    {
      yPercent: -0
    },
    {
      yPercent: -100,
      duration: 1,
      ease: 'power4.inOut'
    },
    '+=.4'
  )

  tl.fromTo(
    '.preloader',
    {
      clipPath: 'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)'
    },
    {
      clipPath: 'polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%)',
      duration: 1,
      ease: 'power4.inOut'
    }
  )
})
</script>

<template>
  <div class="preloader">
    <div class="preloader-percent h1Max">
      <div class="preloader-percent__text">{{ percentage }}%</div>
    </div>
  </div>
</template>
<style scoped>
.preloader {
  position: fixed;
  inset: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  color: var(--color-background);
}
.preloader-percent {
  height: 150px;
  overflow: hidden;
}
</style>
