:root {
  --color-black: #111;
  --color-white: #ffffff;

  --color-background: #dfe0df;
  --color-softgray: #b0b0b0;
  --color-darkgray: #4e4e4e;

  --color-orange: #0062da;

  --color-orange__blend: #df7e05;

  --default-transition: all 0.2s ease-out;

  --padding: 5vw;

  --font-medium: 'HostGrotesk-Medium', serif;

  --z-header: 2;
  --z-preloader: 6;
}

/* ------------------- */

@font-face {
  font-family: 'HostGrotesk-Medium';
  src: url('./fonts/HostGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  cursor: pointer;
}
/* ------------------- */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* ------------------- */

.bg-black {
  background-color: var(--color-black);
  color: var(--color-background);
}

.bg-white {
  background-color: var(--color-background);
  color: var(--color-black);
}

/* ------------------- */

.h1,
.h2 {
  text-transform: uppercase;
}

.h1Max {
  font-size: 120px;
}

/* ------------------- */

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}
