.hover-fadein {
  transition: var(--default-transition);
  color: var(--color-softgray);
}

@media (hover: hover) {
  .hover-fadein:not(.header-logo):hover {
    color: var(--color-orange__blend);
  }
}

.hover-image {
  overflow: hidden;
}
.hover-image img {
  transition: var(--default-transition);
}

@media (hover: hover) {
  .hover-image:hover img {
    transform: scale(1.1);
    filter: grayscale(1);
  }
}

.header-link__container > .header-link:not(.header-logo) {
  position: relative;
}
.header-link__container > .header-link:not(.header-logo) > span:hover:after {
  width: 100%;
  left: 0;
}
.header-link__container > .header-link:not(.header-logo) > span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--color-orange__blend);
  transition: var(--default-transition);
  -webkit-transition: var(--default-transition);
}
