@import './base.css';
@import './hover.css';

body {
  /* font-family: var(--font-regular); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(24px, 2.38vw, 48px);
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-black);
}
h2 {
  font-size: clamp(24px, 2.38vw, 48px);
  font-weight: 400;
}

.page_black {
  background: var(--color-black);
  color: var(--color-background);
}

.page_white {
  background: var(--color-background);
  color: var(--color-black);
}

a.router-link-active:not(.header-logo) {
  color: var(--color-darkgray);
  pointer-events: none;
}

.page-content {
  max-width: 600px;
  margin: 0 auto;
}
