<script setup>
import { RouterView } from 'vue-router'
import TheNavBar from './components/TheNavBar.vue'
import TheFooter from './components/TheFooter.vue'
import Lenis from '@studio-freight/lenis'

const lenis = new Lenis()

function raf(time) {
  lenis.raf(time)
  requestAnimationFrame(raf)
}

requestAnimationFrame(raf)
</script>

<template>
  <!-- <TheGrid /> -->
  <!-- <ThePreloader /> -->
  <TheNavBar />
  <router-view v-slot="{ Component }">
    <Transition name="moveUp">
      <component :is="Component" :key="$route.path"></component>
    </Transition>
  </router-view>
  <TheFooter v-if="$route.meta.hasFooter"> </TheFooter>
</template>

<style scoped>
.pageTransition {
  position: fixed;
  inset: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-black);
  color: var(--color-background);
}
</style>
